services:
  external-websocket:
    build:
      context: ./ExternalWebsocket
      dockerfile: Dockerfile
    container_name: websocket-iouv
    restart: unless-stopped
    ports:
      - "8083:8080"

  mongodb:
    image: mongo:7
    container_name: dtitan-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-gui:
    image: mongo-express
    container_name: dtitan-mongo-gui
    ports:
      - "8090:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
      ME_CONFIG_MONGODB_URL: "mongodb://mongodb:27017"
    depends_on:
      - mongodb

volumes:
  mongo-data:
