services:
  external-websocket:
    image: node:20-alpine
    container_name: websocket-iouv
    working_dir: /app
    volumes:
      - ./ExternalWebsocket:/app
    command: sh -c "npm install && node app.js"
    ports:
      - "8083:8080"
    restart: unless-stopped

  mongodb:
    image: mongo:7
    container_name: dtitan-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # XXX: Not being used for now
  # redis:
  #   image: redis:7
  #   container_name: dtitan-redis
  #   restart: unless-stopped
  #   ports:
  #     - "6379:6379"

  # XXX: I will take this from here for now, run locally (i changed the defaults to localhost on backend)
  # backend:
  #   image: mcr.microsoft.com/dotnet/sdk:9.0
  #   container_name: dtitan-backend
  #   volumes:
  #     - ./dTITAN.Backend:/app
  #   working_dir: /app
  #   command: dotnet watch run --urls=http://0.0.0.0:5000 --no-launch-profile --no-https --quiet
  #   ports:
  #     - "5000:5000"
  #   environment:
  #     ASPNETCORE_URLS: "http://0.0.0.0:5000"
  #     DOTNET_USE_POLLING_FILE_WATCHER: "1"
  #     DOTNET_WATCH_POLL_INTERVAL: "500" # ms
  #     ConnectionStrings__MongoDb: "mongodb://mongodb:27017"
  #     ConnectionStrings__Redis: "redis:6379"
  #   depends_on:
  #     - mongodb
  #     - redis

  # GUIs
  mongo-gui:
    image: mongo-express
    container_name: dtitan-mongo-gui
    ports:
      - "8090:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
      ME_CONFIG_MONGODB_URL: "mongodb://mongodb:27017"
    depends_on:
      - mongodb

  # XXX: Not being used for now
  # redis-gui:
  #   image: rediscommander/redis-commander:latest
  #   container_name: dtitan-redis-gui
  #   environment:
  #     - REDIS_HOSTS=local:redis:6379
  #   ports:
  #     - "8082:8081"
  #   depends_on:
  #     - redis

volumes:
  mongo-data:
