version: '3.8'

services:
  app:
    image: node:20-alpine
    container_name: websocket-iouv
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "npm install && node app.js"
    ports:
      - "8080:8080"
    restart: unless-stopped
